@import '../../styles/variables';
@import '../../styles/functions';

.navbar {
    display: flex;
    justify-content: flex-end;
    background-color: $color-3;
    padding: 13px 21px 16px;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.nav_link {
    color: $color-0;
    text-decoration: none;
    margin-left: 15px;
    font-size: calculatePxToRem(20px);
    cursor: pointer;

    &:hover {
        color: $color-4;
    }

    &_text {
        display: inline;
        margin-right: 5px;
    }
}