.content_list{
    
    max-width: 25%;
    background: #FFFFFF;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    box-sizing: border-box;
    padding: 1rem;
}
.user__metadata{
    // border: solid red;
    max-width: 50rem;
    margin: 1.5rem;
}