$fontSize_Base: 16px;
$fontFamily_Base: 'Roboto', sans-serif;

$color-0: #FFFFFF;
$color-1: #000000;
$color-3: #666666;
$color-4: #FF5252;
$color-5: #D0D0D0;
$color-6: #6CF1B1;
$color-7: #F16C6C;
$color-8: #F0F0F0;
$color-9: #FF415A;